*{
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body{
    background-color: whitesmoke;

}

.container{
    display: grid;
    background-color: whitesmoke;
    height:97vh;
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 24px;
}

.header{
    border: 1px solid tomato;
    border-radius: 8px;
    background-color: white;

}

.nav-bar{
    border: 1px solid tomato;
    border-radius: 8px;
    background-color: white;
}

.main-body{
    border: 1px solid tomato;
    border-radius: 8px;
    background-color: white;
}

.side-bar{
    border: 1px solid tomato;
    border-radius: 8px;
    background-color: white;
}

.side-graph{
    border: 1px solid tomato;
    border-radius: 8px;
    background-color: white;
}

.footer{
    border: 1px solid tomato;
    border-radius: 8px;
    background-color: white;
}


@media (min-width: 720px) {
    .container {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto 1fr auto;
    }
}





@media (min-width: 1020px) {

    .header {
        grid-column: 1 / span 12;
      }

    .nav-bar{
      grid-column: 3 / span 6;
    }
  
    
    .main-body {
      grid-column: 3 / span 6;
    }
  
   
    .side-bar {
      grid-row: 2 / 4;
      grid-column: 1 / span 2;
    }
  
    .side-graph {
      grid-column: 9 / span 4;
      grid-row: 2 / 4;
    }
  
    .footer {
      grid-column: 1 / span 12;
    }
}
